{% extends "base.html" %}

{% block title %}
    Examination Management
{% endblock %}

{% block content %}
<div class="card">

    <h1>
        Examination Management
    </h1>

    <p>
        Create, update and manage examinations available in the CBT system.
    </p>

    <hr>

    <form method="POST">
        <div class="form-group">
            <label>
                Examination Code
            </label>

            <input
            name="code"
            placeholder="Enter Examination Code"
            autocomplete="off"
            required>
        </div>

        <div class="form-group">
            <label>
                Examination Title
            </label>

            <input
            name="title"
            placeholder="Enter Examination Title"
            required>
        </div>


        <div class="form-group">
            <label>
                Duration (Minutes)
            </label>

            <input
            type="number"
            name="duration"
            placeholder="Duration in Minutes"
            min="1"
            required>
        </div>

        <div class="form-group">
            <label>
                Pass Mark (%)
            </label>

            <input
            type="number"
            name="pass_mark"
            placeholder="Pass Percentage"
            min="1"
            max="100"
            required>
        </div>

        <button type="submit">
            <i class="fa-solid fa-plus"></i>
            Create Examination
        </button>

    </form>

    <hr>

    <h2>
        Available Examinations
    </h2>

    {% if exams %}
    <table>

        <tr>

            <th>
                Exam Code
            </th>

            <th>
                Exam Title
            </th>

            <th>
                Duration
            </th>

            <th>
                Actions
            </th>

        </tr>
        
        {% for e in exams %}
        <tr>

            <td>
                {{ e.code }}
            </td>

            <td>
                {{ e.title }}
            </td>

            <td>
                {{ e.duration_minutes }} minutes
            </td>

            <td>

                <a href="{{ url_for('questions.exam_questions', id=e.id) }}">
                    <b>Add Questions to Exam</b>
                </a>

                |

                <a href="{{ url_for('exams.edit_exam', id=e.id) }}">
                    <b>Edit Exam</b>
                </a>

                |

                <a
                href="{{ url_for('exams.delete_exam', id=e.id) }}"
                onclick="return confirm('Are you sure you want to delete this examination? This will also delete all its questions and assignments.');">
                    <b>Delete Exam</b>
                </a>

            </td>

        </tr>
        {% endfor %}

    </table>

    {% else %}
    <div class="message">
        No examinations have been created yet.
    </div>

    {% endif %}

</div>
{% endblock %}